.icon {
    transition: 0.5s;
    transform: scale(1.3)
}

.icon:hover {
    cursor: pointer;
    transition: 0.5s;
    fill-opacity: 1;
    transform: scale(1.6);
}

.icon:active {
    transition: 0.5s;
    fill-opacity: 1;
}

.x1 {
    position: relative;
    left: 15px;
    top: -2px;
    transform: scale(1.7);
    transition: 0.5s;
}

.x1:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(90deg) scale(2);
}

.fixed-table-toolbar {
    display: none !important;
}

.fixed-table-pagination {
    display: none !important;
}

.mynavbar {
    padding: 20px;
    border-bottom: solid 1px white;
}

.mynav {
    position: relative;
    top: -25px;
    transition: 0.5s;
    padding: 20px;
    color: white!important;
    border-radius: 5%;
}

.mynav:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: white!important;
    color: orange!important;
}

html {
    overflow: hidden;
}

.fixed-table-body::-webkit-scrollbar {
    width: 15px;
}

.fixed-table-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.fixed-table-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255);
}