    html {
        background: radial-gradient(ellipse at center, #b16e04 0%, #ffb33b 100%);
    }
    
    body {
        background-color: transparent!important;
    }
    
    .key {
        cursor: default;
        transition: 0.5s;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
        background: white;
        border-radius: 15px;
        color: black!important;
        text-decoration: none!important;
    }
    
    .divkey {
        cursor: default;
        line-height: 55px;
        text-decoration: none!important;
        padding: 10px;
    }
    
    #cross {
        transition: 0.5s;
        position: relative;
        left: -20px;
        top: -6px;
    }
    
    #cross:hover path {
        cursor: pointer;
        transition: 0.5s;
        fill: orange;
    }
    
    body {
        margin: auto;
    }
    
    #heading {
        position: relative;
        margin: auto;
        padding: 20px;
        left: 4%;
        font-size: 30;
        color: white;
    }
    
    #heading1 {
        position: relative;
        top: 90px;
        padding: 20px;
        left: 4%;
        font-size: 30;
        color: white;
    }
    
    #myfile {
        position: relative;
        left: 5%;
    }
    
    #myfile [type=file] {
        color: white;
        border-radius: 15px;
    }
    
    #smyfile {
        transition: 0.5s;
        position: relative;
        left: 20%;
        top: -25px;
        background-color: white;
        border: none;
        border-radius: 15px;
        padding: 5 20 5 20;
    }
    
    #smyfile:hover {
        transition: 0.5s;
        background-color: black;
        color: white;
    }
    
    #addKeywords {
        position: relative;
        left: 5%;
    }
    
    #addKeywords input[type=text] {
        color: black;
        background-color: white;
        border: none;
        border-radius: 15px;
        padding: 5 20 5 20;
    }
    
    #addKeywords input[type=submit] {
        position: relative;
        left: 40px;
        transition: 0.5s;
        color: black;
        background-color: white;
        border: none;
        border-radius: 15px;
        padding: 5 20 5 20;
    }
    
    #addKeywords input[type=submit]:hover {
        transition: 0.5s;
        background-color: black;
        color: white;
    }
    
    #searchB {
        transition: 0.5s;
        position: relative;
        left: 5%;
        top: 5%;
        color: black;
        background-color: white;
        border: none;
        border-radius: 15px;
        padding: 5 20 5 20;
    }
    
    #searchB:hover {
        transition: 0.5s;
        background-color: black;
        color: white;
        text-decoration: none!important;
    }
    
    #searchA {
        transition: 0.5s;
        position: relative;
        left: 5%;
        top: 5%;
        color: black;
        background-color: white;
        border: none;
        border-radius: 15px;
        padding: 5 20 5 20;
    }
    
    #searchA:hover {
        transition: 0.5s;
        background-color: black;
        color: white;
        text-decoration: none!important;
    }
    
    #kparent {
        position: relative;
        top: 15px;
        padding-left: 4.3%;
    }
    
    #temp1 {
        transition: 0.5s;
        font-size: 15;
        text-decoration: none!important;
        color: white;
        padding: 15px;
    }
    
    #temp1:hover {
        cursor: pointer;
        transition: 0.5s;
        background-color: white;
        color: black;
    }
    
    #spacer {
        height: 10px!important;
        padding: 10px!important;
    }